# Cache and additional info
Thumbs.db
.cache/
Desktop.ini
.DS_Store

# Node.js dependencies
node_modules/

# npm
.npmrc
package-lock.json

# Emoji data
build-scripts/emoji-data.txt
build-scripts/emoji-sequences.txt
build-scripts/emoji-zwj-sequences.txt
